10deeds.lic
alias.lic
answers.lic
arenatimer.lic
armor.lic
autostart.lic
bandit.lic
bigshot.lic
briefcombat.lic
bundleall.lic
buyallherbs.lic
champion_check*
child2.lic
cooperrest.lic
countwounds.lic
creaturebar.lic
creaturebar2.lic
death_potions.lic
digger.lic
dreavening.lic
dreavon.lic
drop.lic
drop.rb
DSD.lic
duskruin_watch.lic
ego2.lic
enchantenotes.csv
enchantnotes.lic
exit.lic
famgo2.lic
familiar.lic
favs.lic
find.lic
find_people.txt
findtable.lic
foreach.lic
ForgeMaster.lic
friendList.lic
GameObjAddMore.lic
gameobj-data.xml
go2.lic
has_boxes.lic
heal.lic
